<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>CheckDates</title>
    </head>
    <body>
        <form method="post" action="/room/checkdates">
            <label >Choose check in date:</label>
            <input type="date" name="checkinDate" id="todayDate" min="2019-11-30">
            <label> Choose check out date </label>
            <input type="date"  name="checkoutDate" id="tomorrowDate" min="2019-12-01">
            <input type="submit" value="Check availability" id="submitButton" disabled>
        </form>

        <script>
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth()+1; //January is 0!
            var yyyy = today.getFullYear();

            var tomorrow = new Date();
            tomorrow.setDate(tomorrow.getDate() + 1);
            var dd_tomorrow = tomorrow.getDate();
            var mm_tomorrow = tomorrow.getMonth()+1;
            var yyyy_tomorrow = tomorrow.getFullYear();

            if(dd<10){
                dd='0'+dd;
            }
            if(mm<10){
                mm='0'+mm;
            }
            if(dd_tomorrow<10){
                dd_tomorrow='0'+dd_tomorrow;
            }
            if(mm_tomorrow<10){
                mm_tomorrow='0'+mm_tomorrow;
            }

            today = yyyy+'-'+mm+'-'+dd;
            tomorrow = yyyy_tomorrow+'-'+mm_tomorrow+'-'+dd_tomorrow;
            console.log(today);
            console.log(tomorrow);
            document.getElementById("todayDate").defaultValue =today+"";
            document.getElementById("tomorrowDate").defaultValue =tomorrow+"";
            document.getElementById("todayDate").setAttribute("min", today+"");
            document.getElementById("tomorrowDate").setAttribute("min", tomorrow+"");
            document.getElementById("submitButton").disabled = false;
        </script>

    </body>
</html>
