<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rooms available!</title>
</head>
    <body>
        <h5>There are rooms available!</h5>
        <br>
        <form method="post" action="/reservation/add">

            <label>Chosen check in date:</label>
            <input type="date" readonly name="checkinDate" th:value="${checkinDate}">
            <br>
            <label>Chosen check out date:</label>
            <input type="date" readonly name="checkoutDate" th:value="${checkoutDate}">
            <br>
            <label>Choose room type:</label>            <br>
            <div th:each="roomType : ${roomTypes}">
                <input type="radio" name= "roomType" th:value="${roomType.name()}" th:text="${roomType.name()}"><br>
            </div>

            <br>
            <h5>Please fulfill customer data</h5>
            <label>First Name:</label>
            <input type="text" name="firstName">
            <br>
            <label>Last Name:</label>
            <input type="text" name="lastName">
            <br>
            <label>Company name (optional):</label>
            <input type="text" name="companyName">
            <br>
            <label>Registry code:</label>
            <input type="text" name="registryCode">
            <br>
            <br>

            <input type="submit" value="Book Room">
        </form>
    </body>
</html>