<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Rooms available!</title>
</head>
    <body>
        <span th:text="${dates}"></span>
        <span th:text="${roomTypes}"></span>
        <h5>There are rooms available!</h5>
        <br>
        <form method="post" action="/reservation/add">

            <label name="checkinDate">Chosen check in date:
                <input type="date" name="checkinDate" value="">
            </label>
            <br>
            <label>Chosen check out date:</label>
            <input type="date" name="checkoutDate" value="">
            <br>
            <label>Choose room type:</label>            <br>
            <input type="radio" name= "type" value="STANDARD">Standard<br>
            <input type="radio" name= "type" value="DELUXE">Deluxe<br>
            <br>
            <h5>Please fulfill customer data</h5>
            <label>First Name:</label>
            <input type="text" name="firstName">
            <br>
            <label>Last Name:</label>
            <input type="text" name="lastName">
            <br>
            <label>Company name (optional):</label>
            <input type="text" name="companyName">
            <br>
            <label>Registry code:</label>
            <input type="text" name="registryCode">
            <br>
            <br>

            <input type="submit" value="Book Room">
        </form>
    </body>
</html>